@import url('./Apps/keep/keep-main.css');
@import url('./Apps/mail/mail.css');

@font-face {
  font-family: Poppins;
  src: url(/fonts/Poppins-Medium.ttf);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Poppins;
}

/* header */
.app-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  background-color: lightcoral;
}

/* home page  */

.home-page {
  text-align: center;
  height: 80vh;
}

/* footer   */

.app-footer {
  text-align: center;
  height: 10vh;
  background-color: lightcoral;
}
