* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Helvetica, sans-serif;
}

.clickable {
  cursor: pointer;
}

/* compose */
.compose-email {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Modal */

.modal,
.compose-email,
.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
}
.overlay {
  opacity: 0.5;
  background-color: black;
}
.modal-card {
  position: relative;
  max-width: 80%;
  margin: auto;
  margin-top: 100px;
  margin-right: 100px;
  padding: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  z-index: 10;
  opacity: 1;
  border: 1px solid blue;
}

/* .compose-email {
} */

/* unRead Count */

.unread-count {
  /* position: absolute; */
  left: 23px;
  top: 50%;
}

/* email Container */

.email-container {
  display: flex;
}

/* Mail Table */

.mail-table {
  max-width: 800px;
  margin: auto;
  border-collapse: collapse;
}
.mail-table tr.read {
  background-color: #f5f7f7;
}
.star {
  color: gold;
}
.mail-table tr {
  height: 33px;
}
.mail-table td {
  border-bottom: 2px solid #edf0f2;
  padding: 5px;
  text-align: left;
}
.mail-table tr:first-of-type td {
  border-top: 2px solid #edf0f2;
}
.mail-table td p {
  max-height: 1.2em;
  overflow-y: hidden;
  margin: 0;
}

.mail-table td.date {
  width: 120px;
}

/* folder filter */
.folder-filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 135px;
  margin-block-end: 25px;
  /* top: 25%;
  left: 20px; */
}

.folder-filter span {
  width: 100%;
  cursor: pointer;
}

.folder-filter span:hover {
  background-color: blanchedalmond;
  border-radius: 20px;
}

.compose-btn {
  margin-bottom: 20px;
  padding: 16px;
  border-radius: 30px;
  cursor: pointer;
}

/* email filter */
.email-filter {
  margin: 0 auto;
  width: fit-content;
  padding: 10px;
  border: 1px solid black;
  margin-top: 25px;
  margin-bottom: 50px;
}

/* email details */

.email-details {
  display: flex;
  margin-top: 10px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.email-display {
  display: flex;
  flex-direction: column;
}

.email-display div {
  margin: 10px;
}
