* {
  box-sizing: border-box;
}

.clickable {
  cursor: pointer;
}

/* compose */
.compose-email {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Modal */

.modal,
.compose-email,
.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
}
.overlay {
  opacity: 0.5;
  background-color: black;
}
.modal-card {
  position: relative;
  max-width: 80%;
  margin: auto;
  margin-top: 270px;
  margin-right: 100px;
  padding: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  z-index: 10;
  opacity: 1;
  border: 1px solid blue;
}

.compose-email {
}

/* Mail Table */

.mail-table {
  max-width: 1000px;
  margin: auto;
  border-collapse: collapse;
}
.mail-table tr.read {
  background-color: rgb(182, 165, 165);
}
.star {
  background-color: gold;
}
.mail-table tr {
  height: 40px;
}
.mail-table td {
  border-bottom: 1px solid black;
  padding: 5px;
  text-align: left;
}
.mail-table tr:first-of-type td {
  border-top: 1px solid black;
}
.mail-table td p {
  max-height: 1.2em;
  overflow-y: hidden;
  margin: 0;
}

.mail-table td.date {
  width: 120px;
}

/* folder filter */
.folder-filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 20 px;
}
