*{
    box-sizing: border-box;
}

/* top of the app  */
.note-app > h1{
    text-align: center;
    /* box-shadow: 0px 0px 20px 8px lightcoral; */
}

button:hover{
    cursor: pointer;
}

.note-task-bar{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
}
.note-task-bar button{
    background-color: transparent;
    border: none;
    box-shadow: 0 0 17px 6px lightcoral;
}

.note-filter{
    display: flex;
    justify-content: center;
    align-items: center;
}
.note-filter :first-child{
    height: 50px;
    width: 40vw;
}
.note-filter :nth-child(2){
    height: 50px;
    /* width: 40vw; */
}


/* note-list  */

/* .note-list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
} */

.note-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 10px;
    width: 90%;
    margin: auto;
}

.note-txt{
    grid-row: span 1;
}
.note-video, .note-img{
    /* grid-row: 1/ span 2; */
    grid-row-end: span 2;
}

.note-todos{
    grid-row: span 1;
}

.note-preview{
    position: relative;
    background-color: lightgreen;
    border: 1px black solid;
}
.note-preview img{
    width: 100%;
    max-height: 300px;
    object-fit: contain;
}

/* note-list inside preview */
.yellow{
    background-color: yellow;
}

.note-control-box{
    visibility: hidden;
}
.note-preview:hover .note-control-box{
    visibility:visible; 
}
.note-control-box > button{
    background-color: transparent;
    border: none;
}
.note-control-box > button:hover{
    cursor: pointer;
}

.color-options{
    position: absolute;
    border: 1px black solid;
    background-color: thistle;
    padding-left: 5px;
    padding-right: 5px;
}

.color-span{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: transparent;

}
.color-span:hover{
    cursor: pointer;
    border: black 1px solid;
}

/* modal */
.note-add{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: lightgreen;
    border: 2px black solid;
    width: 500px;
    height: 500px;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
    z-index: 1;
}
.note-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.note-add .close-btn{
    position: absolute;
    top: 1px;
    right: 1px;
}

