*{
    box-sizing: border-box;
}

.note-list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}

.note-preview{
    background-color: lightgreen;
    border: 1px black solid;
}
.note-preview img{
    width: 100%;
    max-height: 300px;
}

.note-filter{
    display: flex;
    justify-content: center;
    align-items: center;
}

.note-add{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: lightgreen;
    border: 2px black solid;
    width: 500px;
    height: 500px;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
}

.yellow{
    background-color: yellow;
}

.color-span{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}